.custom-button {
    border-radius: 50px;
    padding: 15px 30px;
    border: 2px solid #1a1a1a;
    background-color: solid #666666;
    color: #06e0b1;
    font-size: small;
    cursor: pointer;
    border: none;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.custom-button:hover {
    border-color:#02352a;
    background-color:#069677; 
}

.custom-button:active {
    background-color: #044f3f; 
    transform: scale(0.97);    
    border-color: #012a22;
}     
.customfont {
        font-family: "arial", "sans-serif"; 
        color: black;
}